@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  overflow: scroll;
}

html {
  scroll-behavior: smooth;
}

/* style.css */
.bg-custom {
  background-image: url("images/black-wave.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 650px;
}

nav a:hover {
  color: #43c59e;
}

.sign-name {
  font-family: "Mrs Saint Delafield", cursive;
  font-size: 50px;
  gap: 10px;
}
