@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: relative;
    height: 10vh;
    background: #14453D;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-image {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #000;
    background-color: #fff;
}

.email {
    height: 35px;
    background-color: #43C59E;
    border: none;
    border-radius: 18px;
    display: flex;
    align-items: center;
    color: #fff;
}

nav {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    color: #43C59E;
}

#homepage h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span {
    color: darkgoldenrod;
}

#homepage p {
    color: #555;
    line-height: 22px;
}

#homepage button {
    
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

#homepage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 100px;
}

#about-me {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: items-center;
    justify-content: center;
}

.image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 50%;
    display: flex;
    align-items: start;
    justify-content:center;
    flex-direction: column;
}

#myimage {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

#contact-inf {
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 100px;
}

.contact-info {
    padding: 30px;
    color: #3f9c87;
}

.contact-info h1 {
    font-size: 50px;
    margin: 40px;
}

.contact-info h3 {
    font-size: 30px;
    margin: 40px;
    font-weight: 300;
}

.contact-info p {
    font-size: 20px;
    margin: 40px;
    font-weight: 300;
    color: goldenrod;
}

